{%extends 'groups/post_base.html'%}

{%block pregroup%}


<div class="col-md-4">
    <div class="content">
        {%if user.is_authenticated%}
        <h2>Welcome back
            <a href="{%url 'posts:for_user' username=user.username%}">
                @{{user.username}}
            </a></h2>
        {%endif%}
        <h2>Groups</h2>
        <p>Welcome to the groups Page!</p>
    </div>
    {%if user.is_authenticated%}

    <a href="{%url 'groups:create' username=user.username%}" class="btn btn-primary btn-md">
        ICO: CREATE NEW GROUP
    </a>

    {%endif%}
</div>
{%endblock%}
{%block group_content%}

{%endblock%}